<mat-toolbar color="primary">
  <div class="vertical-toolbar">
    <button mat-button routerLink="/inicio" class="hover-grow"><mat-icon>home</mat-icon> Inicio</button>
    <span class="separator"></span>
    <!-- Tickets -->
    <button mat-button [matMenuTriggerFor]="menu3" class="hover-grow">
      <mat-icon>assignment</mat-icon> Registrar
    </button>
    <mat-menu #menu3="matMenu">
      <button mat-menu-item routerLink="/crearC"><mat-icon>list_alt</mat-icon>Crear Clientes</button>
      <button mat-menu-item routerLink="/crearP"><mat-icon>list_alt</mat-icon>crear Articulo</button>
    </mat-menu>
  </div>
</mat-toolbar>
